<!DOCTYPE html>
<html>
<head>
  <title>Feedilizer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/">Feedilizer</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/blog_entries">Blog Entries</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <div class="test">
            <%- if user_signed_in? -%>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Add blog", new_blog_path %></li>
            <%- else -%>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </div>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

      <% flash.each do |name, msg| %>
        <div class="alert alert-info">
          <%= content_tag :div, simple_format(msg), id: "flash_#{name}" %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-3 hello-sidebar">
        <h1>Hello</h1>
        <p> the group and setting stuff goes</p>
      </div>

      <div class="col-md-9 meat">
        <h1>World</h1>
        <p> here the rss feeds go</p>
        <%= yield %>
      </div>

</body>
</html>
